NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
PAYDIA_CLIENT_ID=
PAYDIA_CLIENT_PRIVATE_KEY=
PAYDIA_CLIENT_SECRET=
PAYDIA_IS_PRODUCTION=false
PAYDIA_MERCHANT_ID=
PAYDIA_CHANNEL_ID=
PAYDIA_CALLBACK_URL=http://localhost:3000/api/webhooks/paydia/qris
PAYDIA_PUBLIC_KEY=
PAYDIA_STORE_ID=
PAYDIA_TERMINAL_ID=
